[Unit]
Description=Log server service
 
[Service]
PIDFile=/run/log_server/pid
User=<USER>
Group=<GROUP>
WorkingDirectory=<DIR>
ExecStart=<PYTHON_ABS_PATH> -m log_server <CONFIG_FILE>

[Install]
WantedBy=multi-user.target
